extends layout

block content
  .profile
    .title
      img.pic(src="#{headshot}", alt="alt")
      div
        h1: a(href="/") Bill Franklin
        if menu
          ul.links
            each item in menu
                li
                  a(href=item.url)= item.name

    .about
      .description
        p Hello, my name is Bill. I work as a software engineer at ChartMogul and study Software Engineering at Oxford University.
        p Previously I worked for a cybersecurity organisation, and the world's largest publisher. At University I studied object-oriented programming, database design, data mining, service-oriented architectures, machine learning, big data and cloud computing, algorithmics, computer forensics, security principles, and cloud security.
        p I have professional experience with modern front-end development, Node.js, Ruby, and Go, in addition to SQL and NoSQL databases. During my studies I mainly wrote Java and Python.
        p I enjoy rowing, and captained Christ Church college's Men's 3rd boat for Summer VIII's 2018.
