// Variables
$font-stack: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$black: rgb(81, 86, 89)
$light-black: rgb(86, 91, 94)
$link-blue: rgb(27, 148, 214)
$grey: rgb(255, 255, 255)
$mobile-breakpoint: 450px
$iphone-six: 455px

.profile
  padding: 20px
  @media (min-width: $mobile-breakpoint)
    padding: 50px
  font: $font-stack
  a
    color: $link-blue
    text-decoration: none
    -webkit-transition: color 0.3s
    transition: color 0.3s
    &:hover
      color: $black

  p, td
    font-size: 0.9em
    color: $light-black
    line-height: 1.9em
    font-weight: 500
  .title
    h1
      margin: 35px 0 10px 0
      @media (max-width: $mobile-breakpoint)
        margin: 10px 0
      color: $black
      a
        color: $black

    div
      display: inline-block
      @media (max-width: $mobile-breakpoint)
        width: 100%
      @media (min-width: $mobile-breakpoint)
        margin: 0 0 0 20px

      vertical-align: top

    .pic
      width: 100px
      height: 100px
      border-radius: 20%
      box-shadow: rgba(0, 0, 0, 0.0976562) 0px 2px 5px
      border-width: 3px
      border-style: solid
      padding: 0px
      border-color: $grey
    .links
      list-style-type: none
      -webkit-margin-before: 0
      -webkit-margin-after: 0
      -webkit-margin-start: 0
      -webkit-margin-end: 0
      -webkit-padding-start: 0

      li
        display: inline-block
        margin: 0 5px
        &:nth-child(1)
          margin-left: 0

  @media only screen and (max-device-width: 667px)
    h1, .description, .title .links
      font-size: 3em
    .title .pic
      width: 200px
      height: 200px
    .title .links li
      margin: 10px
